* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'OpenSans';
  src: url("./fonts/OpenSans.eot") format("embedded-opentype"), url("./fonts/OpenSans.woff") format("woff"), url("./fonts/OpenSans.ttf") format("truetype"), url("./fonts/OpenSans.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}


body{
  font-family: "OpenSans", sans-serif, arial;
}
