:root{
  --game-bg: #1C1C1C;
  --bg_hover: #252525;
  --bg_select: #363636;
  --font-col1: rgb(255, 255, 255);
  --font-col2: #e7e7e7;
}


main{
  height: 100vh-52px;
  background-color: var(--game-bg);
  color: var(--font-col1)
}

.game-container{
  padding-top: 100px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 1600px;
}

.game-title{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 50px;
  border-top: 1px solid #414143;
}

.game-main-container{
  display: flex;
}

.game-front-container{
  overflow: hidden;
  display: flex;
  width: 1045px;
  height: 590px;
  border-radius: 4px;
  position: relative;
}

.game-front-image{
  height: 100%;
  width: 100%;
}

.game-desc-container{
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  width: 320px;
}

.desc-logo-container{
  width: 320px;
  height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-desc-logo{
  width: 80%;
  height: auto;
}

.desc-info-container{
  padding-top: 25px;
  width: 320px;
  height: 268px;
}

.desc-dev-container{
  max-height: 164px;
}

.desc-item{
  height: 41px;
  font-size: 16px;
  padding: 10px 0px;
  line-height: 20px;
  border-bottom: 1px solid #414143;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desc-item-title{
  color: rgba(245, 245, 245, 0.6);
}

.desc-item-value{
  color: var(--font-col1)
}


.about-game-container{
  padding-top: 100px;
}

.about-game-title{
  font-size: 22px;
  padding: 20px 0px;
  border-bottom: 1px solid #414143;
}

.about-game-content{
  padding-top: 10px;
  color: rgba(245, 245, 245, 0.6);
  white-space: pre-wrap;
}

.forum-game-container{
  padding-top: 60px;
}
